{% extends 'customer/base.html'%} {% load static %} {% block title %} BookAPlate
| Change Password {% endblock %} {% block head %}
<style>
  
  /* Hide the Bootstrap dropdown arrow */
  #my_actions::after {
    display: none !important;
  }
</style>
{% endblock %} {% block content %}
 
<div class="container-xxl position-relative p-0">
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">
        Change Password
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Settings</a></li>
          <li class="breadcrumb-item"><a href="#">Change Password</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">
            Change Password
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container py-5">

  <div class="row g-5">
    <div class="col-lg-12 text-center">
    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Confirm Your Booking</h5>
</div>
   </div> 
<div class="col-lg-12 text-center">
 <form
                      method="post"
                      action="{% url 'customer_change_password'%}"
                      enctype="multipart/form-data"
                    >
                      {% csrf_token %}
                      <div class="row g-3">
                        {% for field in form %}
                        <div class="col-md-12">
                          {{ field.label_tag }} {{ field }}{% if field.errors %}
                          <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </div>

                        {% endfor %}

                        <div class="col-12">
                          <button
                            type="submit"
                            class="btn btn-primary w-100 py-3"
                          >
                            UPDATE PASSWORD
                          </button>
                        </div>
                      </div>
                    </form>

</div>

   </div>
   {% endblock %}
   