{% extends 'admin_workbench/base.html'%}
{% load static %}
{% block title %} BookAPlate | BookingReceipt {% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<div class="content-wrapper">
          <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-12 grid-margin">
              <h5 class="card-title fw-semibold mb-4">Facilities</h5>
              <div class="card">
                <div class="card-body p-4">
                 <!-- Your table content goes here -->
          <table class="table" id="print_table">
            <thead>
              <tr>
                <td scope="row" colspan="4" class="text-center">
                  <small>This is a receipt</small>
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="3"  class="ps-2">
                  <h1 class="m-0" style="color: #fea116;">
                    <i class="fa fa-utensils me-3 style="color: #fea116;"></i>BookAPlate
                  </h1>
                </th>
                
                <th rowspan="2" class="text-center">          
                  {% if qr_code %}
                <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
            {% endif %}</th>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-2">
                  <h5>BookingNumber:{{booking.booking_id}}</h5>
                </th>
               <th><p>Date:&nbsp;&nbsp;{{booking.booked_date}}</p></th>
                 
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="4" class="ps-2"><p style="color: #fea116;">YOUR DETAILS</p></th>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Name</th>
                <td colspan="2">
                  {{logged_user.first_name}}&nbsp;{{logged_user.last_name}}
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Email</th>
                <td colspan="2">{{logged_user.email}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Phone Number</th>
                <td colspan="2">{{customer.phone}}</td>
              </tr>
              <tr>
                <th colspan="4"  class="ps-2"><p style="color: #fea116;">BOOKING DETAILS</p></th>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Date</th>
                <td colspan="2">{{booking.date}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Meal</th>
                <td colspan="2">{{booking.meal_time}}</td>
              </tr>
              {% if booking.meal_time == 'Breakfast' %}
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Time</th>
                <td colspan="2"><p>8:00 AM - 12:00 PM</p></td>
              </tr>
              {% elif booking.meal_time == 'Lunch' %}
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Time</th>
                <td colspan="2"><p>12:00 PM - 4:00 PM</p></td>
              </tr>
              {% else %}
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Time</th>
                <td colspan="2"><p>4:00 PM - 8:00 PM</p></td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Tables Reserved</th>
                <td colspan="2">
                  <div class="row">
                  {% for facility in facilities %}
                  <div class="col-sm-2">{{ facility.facility_number }}&nbsp;</div>
                  {% endfor %}
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Seats Reserved</th>
                <td colspan="2">{{head_count}} people</td>
              </tr>
              <tr>
                <th colspan="4">
                  <p class="ps-2" style="color: #fea116;">RESTAURANT DETAILS</p>
                </th>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Name of the Restaurant</th>
                <td colspan="2">
                  {{restaurant.user.first_name}}&nbsp;{{restaurant.user.last_name}}
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Email</th>
                <td colspan="2">{{restaurant.user.email}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Phone Number</th>
                <td colspan="2">{{restaurant.phone}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="2"  class="ps-5">Address</th>
                <td colspan="2">
                  {{restaurant.address}},<br/>
                  {{restaurant.place}},<br />
                  {{restaurant.state}}<br />
                </td>
              </tr>
              
            </tbody>
          </table>

                </div>
              </div>
            </div>
          </div>
</div>

   
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  <script>
    document.getElementById('download').addEventListener('click', function() {
      // Select the table element
      var element = document.getElementById('print_table');

      // Generate the PDF
      html2pdf(element);
    });
  </script>


{% endblock %}
