{% extends 'admin_workbench/base.html'%}
{% block title %}

{% endblock %}
{% block content %}
<div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Change Password</h4>
                  <p class="card-description">
                   You can change your password here</p>
                  <div class="row">
                    <div class="col-md-12">
                     <form
                      method="post"
                      action="{% url 'change_password'%}"
                      enctype="multipart/form-data"
                    >
                      {% csrf_token %}
                      <div class="row g-3">
                        {% for field in form %}
                        <div class="col-md-12">
                          {{ field.label_tag }} {{ field }}{% if field.errors %}
                          <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </div>

                        {% endfor %}

                        <div class="col-12">
                          <button
                            type="submit"
                            class="btn btn-primary w-100 py-3"
                          >
                           UPDATE PASSWORD
                          </button>
                        </div>
                      </div>
                    </form>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}