{% extends 'admin_workbench/base.html'%}
{% block title %}
BookAPLate | Home
{% endblock %}
{% block content %}
<div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <h5 class="card-title fw-semibold mb-4">Dashboard</h5>
              <div class="card">
                <div class="card-body p-4">
                  <p>Greetings dear {{logged_user}} Admin</p>
                </div>
              </div>
            </div>
          </div>
        </div>



{% endblock %}