purpose of each
bs4==0.0.1
celery==5.3.4
decorator==5.1.1
Django==4.2.1
django-redis==5.4.0
mysqlclient==2.2.0
numpy==1.24.2
Pillow==9.5.0
pypng==0.20220715.0
qrcode==7.4.2
redis==5.0.1
requests==2.29.0
sqlparse==0.4.4
tinycss2==1.2.1
beautifulsoup4==4.12.2
