
{% extends 'user_authentication/base.html'%}
{% load static %}
{% block title %}
    Login
{% endblock %}

{% block content %}

    
<div class="container-xxl position-relative p-0">
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Login</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>                            
                            <li class="breadcrumb-item text-white active" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
         <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Sign In Now</h5>
                   
                </div>
                <div class="row g-4">
                     <div  class="col-lg-5 col-sm-5 d-flex align-items-center justify-content-center">
              <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                  <a href="#" class="navbar-brand p-0">
                    <h1 class="text-primary m-0">
                      <i class="fa fa-utensils me-3"></i>BookAPlate
                    </h1>
                  </a>
                </div>
                <h4>Welcome back!</h4>
                <h6 class="font-weight-light">Login As A Customer!</h6>
                <form
                  method="post"
                  action="{% url 'login'%}"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <div class="row g-3">
                    {% for field in form %}
                    <div class="col-md-12">
                      {{ field.label_tag }} {{ field }}{% if field.errors %}
                      <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>

                    {% endfor %}
                  </div>
                  
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                  </div>
                  <a href="{% url 'forgot_password' %}" class="auth-link text-black">Forgot password?</a>
                </div>
                <div class="text-center">
                    <input type="hidden" name="user_type" value="customer">
                  <button type="submit" class="btn btn-block btn-primary">LOGIN</button>
                </div>
                
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="{% url 'customer' %}" class="text-primary">Create</a>
                </div>
                </form>
              </div>
            </div>
            <div class=" col-sm-2 d-flex align-items-center justify-content-center">
                <h4 class="text-primary">OR</h4>
            </div>
            <div  class="col-lg-5 col-sm-5 d-flex align-items-center justify-content-center">
              <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                  <a href="#" class="navbar-brand p-0">
                    <h1 class="text-primary m-0">
                      <i class="fa fa-utensils me-3"></i>BookAPlate
                    </h1>
                  </a>
                </div>
                <h4>Welcome back!</h4>
                <h6 class="font-weight-light">Login As A Restaurant!</h6>
                <form
                  method="post"
                  action="{% url 'login'%}"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <div class="row g-3">
                    {% for field in form %}
                    <div class="col-md-12">
                      {{ field.label_tag }} {{ field }}{% if field.errors %}
                      <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>

                    {% endfor %}
                  </div>
                  
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                  </div>
                  <a href="{% url 'forgot_password' %}" class="auth-link text-black">Forgot password?</a>
                </div>
                <div class="text-center">
                    <input type="hidden" name="user_type" value="restaurant">
                  <button type="submit" class="btn btn-block btn-primary">LOGIN</button>
                </div>
                
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="{% url 'restaurant' %}" class="text-primary">Create</a>
                </div>
                </form>
              </div>
            </div>
                </div>
            </div>
        </div>
    
{% endblock %}